@import "tailwindcss";

/* 1. Define base variables and design tokens */
@theme {
  /* Brand Colors */
  --color-primary: #5850ec;
  --color-primary-hover: #4338ca;
  --color-primary-light: #eef2ff;
  --color-primary-dark: #1e293b; /* for dark mode */

  /* Semantic Theme Tokens (Defaults to Light Mode) */
  --color-bg-main: #f8fafc;
  --color-bg-surface: #ffffff;
  --color-border-color: #e2e8f0;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  /* Theme Tokens - Dark Mode */
  --color-bg-main-dark: #0b0f17;
  --color-bg-surface-dark: #111827;
  --color-border-color-dark: #1f2937;
  --color-text-primary-dark: #f9fafb;
  --color-text-secondary-dark: #9ca3af;

  /* Fonts & Radius */
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  --radius-card: 12px;
  --radius-btn: 8px;
  --radius-badge: 9999px;

  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-slide-down: slide-down 1.75s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

body {
  @apply font-sans;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("assets/calendar-icon.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
